/* LIST TYPE ELEMENTS */
li
{
  padding: 5px;
  margin: 5px;
  background: black;
  color: white;
}

/* LABEL TYPE ELEMENTS */
.label
{
  font-weight: bold;
}

/* ELEMENTS ON CREATE UPDATE FORM */
.create-update-form
{
  padding: 5px;
  margin: 5px;
  background: greenyellow;
}

/* FORM GROUP ELEMENTS */
.form-group
{
  margin-bottom: 5px;
}

/* CENTERED ELEMENTS */
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}